body{
    background: rgb(111, 231, 247);
}

h1{
    color: rgb(72, 72, 248);
    background-color: rgb(161, 253, 253);
}

#show_sketch{
    float: right;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 4px 4px 38px rgb(0, 119, 255);}
    to{box-shadow: 4px 4px 38px darkblue;}
}

p{
    padding-top:10px;
    font-size: 25px;
}